<section *ngIf="questions">
    <h2>
        {{questionSetName}}
    </h2>
    <div *ngFor="let question of questions; let qi=index">
        <hr>
        <h3>
            <span style="user-select: none;">
                {{qi+1}}/{{questions.length}}) 
            </span>
            {{question.content}}
        </h3>
        <ul class="no-bullets">
            <li 
            *ngFor="let answer of question.answers; let ai = index" 
            [style.background-color]="question.correctAnswers.includes(ai) ? 'rgba(139, 168, 12, var(--bg-answer-opacity))' : ''"
            > 
                <span style="user-select: none;">
                    {{getLetter(ai)}}) 
                </span>
                <span>
                    {{answer}} 
                </span>
            </li>
        </ul>
    </div>
</section>

<section *ngIf="!questions">
    <p>
        ⚠️ Question set "{{questionSetName}}" doesn't exists.
        <span [routerLink]="''" style="user-select: none;text-decoration: underline;" class="pointerable"> 
            Go back
        </span>
    </p>
</section>
