<fieldset *ngIf="tester.isTesterSetted()">
    <legend style="user-select: none;">
        <h3 style="margin: 0;">
            {{tester.getCurrentQuestionNr()+1}}/{{tester.getQuestionCount()}}
        </h3>
    </legend>
    <app-question-view [qi]="tester.getCurrentQuestionNr()" [question]="tester.getCurrentQuestion()"></app-question-view>
    <hr>
    <input *ngIf="!tester.getIsTestEnded()&&!tester.getIsCurrentQuestionSubmited()" type="button" value="Submit" (click)="tester.submit()">
    <input *ngIf="!tester.getIsTestEnded()&&tester.getIsCurrentQuestionSubmited()" type="button" value="Go Next" (click)="tester.goToNextQuestion()">
    <input *ngIf="tester.getIsTestEnded()" type="button" value="End Test" (click)="finishLearning()">
    <!-- <input *ngIf="!tester.questionEnded()&&tester.answeredQestions==tester.currentQestion+1" type="button" value="Go Next" (click)="tester.submitAnswers()">
    <input *ngIf="!tester.questionEnded()&&tester.answeredQestions==tester.currentQestion" disabled type="button" value="Go Next" (click)="tester.submitAnswers()">
    <input *ngIf="tester.questionEnded()" type="button" value="Repeat all" (click)="tester.restart()">
    <input *ngIf="tester.questionEnded()&&tester.result!=tester.getQuestionCount()" type="button" value="Repeat wrong" (click)="tester.reduce()"> -->
    
    <span style="user-select: none;">
        Result: {{tester.getResult()}}/{{tester.getUserAnswersCnt()}} {{tester.getPercent()}}%
    </span>
    <span>
        <!-- Left: {{tester.getQuestionCount()-tester.answeredQestions}} -->
    </span>
</fieldset>


<section *ngIf="!tester.isTesterSetted()">
    <p>
        ⚠️ Test "{{testName}}" doesn't exists.
        <!-- ⚠️ Test "{{tester.currentTest}}" doesn't include questions. -->
        <span [routerLink]="''" style="user-select: none;text-decoration: underline;" class="pointerable"> 
            Go back
        </span>
    </p>
</section>