
<section>
    <!-- <h3>All sessions sets:</h3>
    <table style="width: 100%;">
        
    </table>
    <br> -->
    <h3>All qustion sets ({{tests.length}}):</h3>
    <table style="width: 100%;">
        <tr *ngFor="let test of tests; let c = count">
            <!-- <td class="centerRow" [routerLink]="'/learning/'+test"> -->
            <td class="centerRow">
                <div class="centerRow hoverable"  style="text-align: left; flex-grow: 1;" [routerLink]="'/learning/'+test">
                    <mat-icon class="card"  style="margin: 0 10px;">
                        quiz
                    </mat-icon>
                    <div>
                        {{test}}
                    </div>
                </div>
                <div class="centerRow" style="justify-content: space-between; width: 100px;">
                    <mat-icon [routerLink]="'/tests/'+test" class="clickableIcon button">
                        search
                    </mat-icon>
                    <mat-icon (click)="questionSetService.deleteQuestionSet(test)" class="clickableIcon button toDelete">
                        delete_forever
                    </mat-icon>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <app-import-question-set-view></app-import-question-set-view> 
</section>

<section>
    <pre><code class="language-javascript">def greet():
    console.log('Hello, world!');</code></pre>
</section>

<!-- <section>
    <input type="color" [value]="color" (change)="colorChange($event)">
</section> -->
<!-- <fieldset>
    <legend>Tytuł grupy</legend>
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
</fieldset>


<section>
    <details>
        <summary>Tytuł karty</summary>
        <p>Treść karty...</p>
    </details>
</section> -->

<!-- <section>
    <div *ngFor="let question of tester.questions; let qi = index">
        <app-question-view [qi]="qi" [question]="question"></app-question-view>
        <hr>
    </div>
    <input type="button" value="submit" (click)="tester.submitAnswers()">
    <span *ngIf="tester.submited">
        {{tester.result}}/{{tester.getQuestionCount()}}
    </span>
</section> -->
