details{
    padding-left: 10px;
}

.button{
    opacity: 0%;
    transition: all 50ms ease;
    transition: color 500ms ease;
    /* transition: opacity 200ms ease; */
    cursor: pointer;
}
tr:hover .button{
    opacity: 60%;
}
.button:hover{
    opacity: 90% !important;
    /* transition: none; */
}

.toDelete:hover {
    content: "search";
    color: rgb(239, 83, 80);
}

.card {
    color: rgb(230, 195, 132);
}

.hoverable {
    margin-right: 20px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 50ms ease;
}
tr:hover .hoverable {
    background-color: var(--bg-color);
}
.hoverable:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
