details{
    padding-left: 10px;
}

.button{
    opacity: 0%;
    transition: color 500ms ease;
    cursor: pointer;
}
.row:hover .button{
    opacity: 60%;
}
.button:hover{
    opacity: 90% !important;
}

.toDelete:hover {
    color: rgb(239, 83, 80);
}
.toSearch:hover {
    color: var(--primary-color-light);
}

.card {
    color: rgb(230, 195, 132);
}

.hoverable {
    margin-right: 20px;
    padding: 8px;
    border-radius: 995px;
    cursor: pointer;
}
.row:hover .hoverable {
    background-color: var(--bg-color);
}
.hoverable:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}


.row {
    margin: 5px;
}
.table {
    padding: 10px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.25);
}

