
<section>
    <h3>All qustion sets:</h3>
    <table style="width: 100%;">
        <tr *ngFor="let test of tests" [routerLink]="'/learning/'+test" style="cursor: pointer;">
            <td style="text-align: left;">
                <span style="user-select: none;">
                    📝 
                </span>
                {{test}}
            </td>
            <td style="user-select: none; width: 100px;">
                <span [routerLink]="'/tests/'+test" class="button">
                    🔍
                </span>
                <span (click)="questionSetService.deleteQuestionSet(test)"class="button">
                    🗑️
                </span>
            </td>
        </tr>
    </table>
    <br>
    <app-import-question-set-view></app-import-question-set-view> 
</section>

<section>
    <pre>
<code class="language-javascript">
def greet():
    console.log('Hello, world!');
</code>
    </pre>
</section>

<!-- <section>
    <input type="color" [value]="color" (change)="colorChange($event)">
</section> -->
<!-- <fieldset>
    <legend>Tytuł grupy</legend>
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
</fieldset>


<section>
    <details>
        <summary>Tytuł karty</summary>
        <p>Treść karty...</p>
    </details>
</section> -->

<!-- <section>
    <div *ngFor="let question of tester.questions; let qi = index">
        <app-question-view [qi]="qi" [question]="question"></app-question-view>
        <hr>
    </div>
    <input type="button" value="submit" (click)="tester.submitAnswers()">
    <span *ngIf="tester.submited">
        {{tester.result}}/{{tester.getQuestionCount()}}
    </span>
</section> -->
