details{
    padding-left: 10px;
}

.button{
    opacity: 0%;
    transition: all 250ms ease;
}
tr:hover .button{
    opacity: 60%;
}
.button:hover{
    opacity: 100% !important;
    cursor: pointer;
}

.toDelete:hover {
    color: rgb(239, 83, 80);
}

.card {
    color: rgb(230, 195, 132);
}

