
<section>
    <h3>All tests learing:</h3>
    <hr>
    <ol>
        <li 
            *ngFor="let test of tests"
            [routerLink]="'/learning/'+test"
        >
            {{test}}
        </li>
    </ol>
</section>


<section>
    <h3>All questions view:</h3>
    <hr>
    <ol>
        <li 
            *ngFor="let test of tests"
            [routerLink]="'/tests/'+test"
        >
            {{test}}
        </li>
    </ol>
</section>

<section>
    <details>
        <summary>
            tytul
        </summary>
        <p>
            tresc
        </p>
        <div>
            <details>
                <summary>
                    tytul
                </summary>
                <p>
                    tresc
                </p>
            </details>
        </div>
    </details>
</section>

<section>
    <input type="file" accept=".json, .yml" (change)="save($event)">
    <input type="button" value="Upload" (click)="questionSetService.getAllQuestionSets()">
</section>
<!-- <fieldset>
    <legend>Tytuł grupy</legend>
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
</fieldset>


<section>
    <details>
        <summary>Tytuł karty</summary>
        <p>Treść karty...</p>
    </details>
</section> -->

<!-- <section>
    <div *ngFor="let question of tester.questions; let qi = index">
        <app-question-view [qi]="qi" [question]="question"></app-question-view>
        <hr>
    </div>
    <input type="button" value="submit" (click)="tester.submitAnswers()">
    <span *ngIf="tester.submited">
        {{tester.result}}/{{tester.getQuestionCount()}}
    </span>
</section> -->
