.logo {
    background-color: var(--primary-color-light);
    border-radius: 999px;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5ch;
    vertical-align: -10%;
}

header{
    background-color: transparent;
    background: none;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
}

#app-wrapper {
    height: 100vh;
    overflow-y: auto;
}
#home {
    font-size: 1.75em;
}