<h3>
    {{question.content}}
</h3>
<ul class="no-bullets">
    <li 
        *ngFor="let answerIndex of tester.order; let answerNumer = index;" 
        (click)="tester.setUserAnswer(qi, answerIndex)"
        [ngClass]="tester.getAnswerClass(qi, answerIndex)"
    > 
        <span>
            {{getLetter(answerNumer)}}) 
        </span>
        <span>
            {{getAnswer(answerIndex)}} 
        </span>
        <span *ngIf="tester.isAnswerSetted(qi, answerIndex)" style="position: absolute; user-select: none;" >
            📌
        </span>
    </li>
</ul>

