<h3>
    {{question.content}}
</h3>
<ul class="no-bullets">
    <li 
        *ngFor="let answerIndex of tester.getOrder(); let answerNumer = index;" 
        (click)="tester.switchUserAnswer(answerIndex)"
        [ngClass]="tester.getAnswerClass(answerIndex)"
        [ngClass]="tester.isAnswerSetted(answerIndex)?'selected':''"
    > 
        <div class="centerRow">
    
            <span>
                {{getLetter(answerNumer)}}) 
            </span>
            <span style="user-select: none;">
                &nbsp;
            </span>
            <span>
                {{getAnswer(answerIndex)}} 
            </span>
            <span style="user-select: none;">
                &nbsp;
            </span>
            @if (tester.isAnswerSetted(answerIndex)) {
                <mat-icon style="padding: 0 10px;">
                    radio_button_checked
                </mat-icon>
            }
            @else {
                <mat-icon style="opacity: 0;">
                    radio_button_unchecked
                </mat-icon>
            }
        </div>
    </li>
</ul>

